body {
    border: none;
    color: #656565;
    background: #F0F0F0;
}

header {
    border: 1px solid black;
    padding: 0;
    width: 100%;
    border-radius: 3px;
}

.user-profile {
    padding: 0px;
    width: 100%;
    height: 23px;
    margin: 0;
    background: red;
    color: #111;
    font-size: 10px;
    margin-bottom: 0;
}

.user-profile .profile-admin p {
    position: absolute;
    right: 12px;
    top: 0px;
    font-weight: bolder;
    font-size: 12px;
}

.nav-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 7.6vw;
    margin-top: 14px;
  }

