
/*===================
    1. Override
===================== */

.container-admin {
 margin-top: 0;   
}



/*=================
   2. Content
=================== */

.call-action-delete {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 500px) {
    .call-action-delete {
        font-size: 3.3vw;
    }
}

.delete-ups {
    overflow: hidden;

}

.delete-ups p {
    float: left;
    padding: 10px 30px;
}

.delete-ups p:last-child {
    float: right;
    padding-right: 0;
}