
.user-profile .profile-admin {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 4px;
}
.user-profile {
    height: auto;
    width: 99%;
    margin: 0 1%;
    margin-left: 0;
}

.user-profile .profile-admin p {
    position: static;
    text-transform: none;
    font-weight: 900;
    font-size: 11.5px;
    float: left;
}

.meet-link {
    color: #fff !important;
    padding: 0 3px;
}