html {
}

body {
    border: none;
    color: #656565;
    background: #F0F0F0;
}

header {
    border: 1px solid black;
    padding: 0;
    width: 100%;
    border-radius: 3px;
}

.nav-nav .sgnin {
    float: right;
    position: static;
    margin-right: 4vw;
}
.nav-nav li a {
    margin-right: 0px;

}

/*Over-ride responses*/

@media screen and (max-width: 767px) {
  .header-nav .nav-nav li:not(:last-child) {
    display: block;
}
  .header-nav .nav-nav li.icon {
    float: right;
    display: none;
  }
    .nav-nav .sgnin {
        float: right;
        margin-right: 0;
    }
}
/*
====================
    Content
==================== */

#container-sign-in-sign-in label {
    display: block;
    margin: 10px 0;
}

#container-sign-in-sign-in form {
    margin: auto;
    margin-top: 30px;

}

.wrapper-sign-in {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
}

#container-sign-in {
    width: 100%;
    display: block;
    max-width: 500px;
    height: auto;
    padding: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);


}

input {
    outline: none;
}


input#username,#pass,#confirm-pass,#name,#email,#description {
    margin: 10px;
    margin-top: 12px;
    padding: 0;
    margin-left: 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #D4D7D9;
    border-radius: 4px;
    color: black;

}

input#username:hover,#pass:hover,#confirm-pass:hover,#name:hover,#email:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input#username:focus,#pass:focus,#confirm-pass:focus,#name:focus,#email:focus {
    box-shadow: 0 0 10px rgba(20, 150, 128, 1);
}

.check {
    display: inline-block;
}

input.sign-button {
    margin-top: 20px;
    padding: 6px 13px;
    background-color: #0D7F9A;
    border-radius: 3px;
}

input.sign-button:hover {
    background-color: #065C9D;
    cursor: pointer;

}

input.sign-button {
    width: 100%;
    margin-left: 0;
}

.bottom-right {
    position: relative;
    bottom: 0;
    right: 0;
    color: #0D7F9A;
    text-decoration: none;
}

.bottom-right:hover {
    color: #065C9D;
    text-decoration: underline;
}
.pass-reset {
    float: right;
    right: 2vw;
}

.action-sign h4 {
    font-size: 18.5px;
    text-align: center;
    font-weight: bolder;
}

.action-sign {
    width: 60%;
    margin: 0 15%;
}

@media screen and (max-width: 600px) {
    .action-sign h4 {
        font-size: 2.7vw;
    }

    @media screen and (max-width: 450px) {

        .wrapper-sign-in {
            width: 80%;
            margin: 0 10%;
        }
        li.enquire {
            display: none;
        }
    }

}

footer {
    margin-top: 8vw;
    margin-bottom: 0;
}