@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', Lato, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #656565;
    overflow-x: hidden;
}

h1,h2, h3, h4, h5, h6 {
    font-family:'Open Sans', Lato, Helvetica, Arial, sans-serif;
    font-weight:700;
    line-height:1.1em;
    color:#333;
    margin-bottom: 20px;
}

* {
   box-sizing: border-box; 
}

/* Header */

header ul {
    list-style-type: none;
    text-transform: uppercase;
    background-color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
}

header ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #111;
    display: block;
    padding: 10px 12px;
    text-align: center;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
}

header ul li a:hover {
    color: #457EBB;
}

 a:active {
    outline: 0;
}

a.active, a.active:hover {
    color: #004BA6;
}

header {
    background-color: #fff;
}



/* Navigation Bar */

.nav-nav {
    padding-top: 50px;
}

.nav-nav li a {
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
}
.nav-nav li:first-child{
    margin-left: 25%;
}

.nav-nav .sgnin {
    position: absolute;
    right: 10%;
    margin-right: 0;
}

.qlogo {
    width: 150px;
    height: auto;
}

.qlogo img {
    width: 100%;
    padding: 0;
    margin: 0;
}

header ul li a#sign-in {
    border: 1.2px solid #34D55B;
    border-radius: 4px;
    background-color: #fff;
    color: #ff8C00;
    padding: 8px 12px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

header ul li a#sign-in:hover {
    background-color: #79D534;
    color: #fff;
}


/* Animate nav links on hover */

#navbar li a {
  color: #000;
  position: relative;
  text-decoration: none;
}

#navbar li > a:hover {
    color: #457EBB;
}

#navbar li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
}

 #navbar a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
}


/* Media Queries*/

@media screen and (max-width: 870px) {

    .nav-nav li:last-child{
    }
}

.header-nav .icon {
    font-size: 30px;

}

  .header-nav .nav-nav li.icon {
    display: none;
  }

@media screen and (max-width: 767px) {
  .header-nav .nav-nav li:not(:last-child) {
    display: none;
}
  .header-nav .nav-nav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
    .qlogo {
        width: 100px;
    }

    .nav-nav.responsive li:first-child{
     margin-left: 0;
    }
    .nav-nav.responsive {
        margin-top: 30px;
    }
  .nav-nav.responsive ul li {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    }
  .nav-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-nav.responsive li.sgnin {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 93px;
  }
    .nav-nav.responsive li.sgnin #sign-in {
    width: 100%;
  }
  .nav-nav.responsive li:not(.icon) {
    float: none;
    display: block;
    text-align: center
  }
}

/*
 =========================
 Call Action
 =========================  */

 body {
    border: 2px solid grey;
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(left, #434343 0%, black 100%);
    background-image: -o-linear-gradient(left, #434343 0%, black 100%);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
 }

 .attention-text {
    animation-duration: 19.99s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    display: block;
    font-size: 1.5em;
    width: 60%;
    line-height: normal;
    color: #fff;
    text-align: center;
 }

@media screen and (max-width: 767px) {

.attention-text {
    font-size: 1.2em;
}
@media screen and (max-width: 430px) {

.attention-text {
    font-size: 4.5vw;
}
body {
    align-content: center;
}
}
}

.parag-1 {
    animation-name: parag-1;
}

.parag-2 {
    animation-name: parag-2;
}

.parag-3 {
    animation-name: parag-3;
}

@keyframes parag-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes parag-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes parag-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}