@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #656565;
}

* {
   box-sizing: border-box; 
}

header ul {
    list-style-type: none;
    text-transform: uppercase;
    background-color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
}

header ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #111;
    display: block;
    padding: 10px 12px;
    text-align: center;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
}

header ul li a:hover {
    color: #457EBB;
}

 a:active {
    outline: 0;
}

a.active, a.active:hover {
    color: #004BA6;
}

.nav-nav {
    padding-top: 50px;
}

.nav-nav li a {
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
}
.nav-nav li:first-child{
    margin-left: 25%;
}

.nav-nav li:last-child{
    position: absolute;
    right: 10%;
    margin-right: 0;
}

.qlogo {
    width: 150px;
    height: auto;
}

.qlogo img {
    width: 100%;
    padding: 0;
    margin: 0;
}

header ul li a#sign-in {
    border: 1.2px solid #34D55B;
    border-radius: 4px;
    background-color: #fff;
    color: #ff8C00;
    padding: 8px 12px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

header ul li a#sign-in:hover {
    background-color: #79D534;
    color: #fff;
}

@media screen and (max-width: 870px) {

    .nav-nav li:last-child{
        position: inherit;
    }
}