@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
    font-family: 'Open Sans', Lato, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #656565;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

h1,h2, h3, h4, h5, h6 {
    font-family:'Open Sans', Lato, Helvetica, Arial, sans-serif;
    font-weight:700;
    line-height:1.1em;
    color:#333;
    margin-bottom: 20px;
}

* {
   box-sizing: border-box; 
}


/* ================
    Header 
 ====================*/

header ul {
    list-style-type: none;
    text-transform: uppercase;
    background-color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
}

header ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #111;
    display: block;
    padding: 10px 12px;
    text-align: center;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
}

header ul li a:hover {
    color: #457EBB;
}

 a:active {
    outline: 0;
}

a.active, a.active:hover {
    color: #004BA6;
}

header {
    background-color: #fff;
}


/*
====================
 Navigation Bar
 =======================*/

.nav-nav {
    padding-top: 50px;
}

.nav-nav li a {
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
}
.nav-nav li:first-child{
    margin-left: 25%;
}

.nav-nav .sgnin {
    position: absolute;
    right: 10%;
    margin-right: 0;
}

.qlogo {
    width: 150px;
    height: auto;
}

.qlogo img {
    width: 100%;
    padding: 0;
    margin: 0;
}

header ul li a#sign-in {
    border: 1.2px solid #34D55B;
    border-radius: 4px;
    background-color: #fff;
    color: #ff8C00;
    padding: 8px 12px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

header ul li a#sign-in:hover {
    background-color: #79D534;
    color: #fff;
}


/* Animate nav links on hover */

#navbar li a {
  color: #000;
  position: relative;
  text-decoration: none;
}

#navbar li > a:hover {
    color: #457EBB;
}

#navbar li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
}

 #navbar a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
}


/* Media Queries*/

@media screen and (max-width: 870px) {

    .nav-nav li:last-child{
    }
}

.header-nav .icon {
    font-size: 30px;

}

  .header-nav .nav-nav li.icon {
    display: none;
  }

@media screen and (max-width: 767px) {
  .header-nav .nav-nav li:not(:last-child) {
    display: none;
}
  .header-nav .nav-nav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
    .qlogo {
        width: 100px;
    }

    .nav-nav.responsive li:first-child{
     margin-left: 0;
    }
    .nav-nav.responsive {
        margin-top: 30px;
    }
  .nav-nav.responsive ul li {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    }
  .nav-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-nav.responsive li.sgnin {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 93px;
  }
    .nav-nav.responsive li.sgnin #sign-in {
    width: 100%;
  }
  .nav-nav.responsive li:not(.icon) {
    float: none;
    display: block;
    text-align: center
  }
}

/*
 =========================
 Call Action
 =========================  */

 body {
    border: 2px solid grey;
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(left, #434343 0%, black 100%);
    background-image: -o-linear-gradient(left, #434343 0%, black 100%);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
 }

 .attention-text {
    animation-duration: 19.99s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    display: block;
    font-size: 1.5em;
    width: 60%;
    line-height: normal;
    color: #fff;
    text-align: center;
 }

@media screen and (max-width: 767px) {

    .attention-text {
        font-size: 1.2em;
    }
    @media screen and (max-width: 440px) {

        .attention-text {
            font-size: 4.0vw;
        }
    }
    @media screen and (max-width: 420px) {

    .attention-text {
        font-size: 4.2vw;
    }

    body {
        align-content: center;
    }
}
}

.parag-1 {
    animation-name: parag-1;
}

.parag-2 {
    animation-name: parag-2;
}

.parag-3 {
    animation-name: parag-3;
}

@keyframes parag-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes parag-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes parag-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}


/*===============
   Content
 ==================
 */

.wrapper .content {
    overflow: hidden;
    border: 1px solid #000;
    margin-top: 150px;
}

.wrapper .pane {
    float: left;
    background-color: #fff;
    background-color: #F5F5F5;
    border: 1px solid grey;
    height: 500px;
    margin-left: 0.5%;             /* clear*/
}

.wrapper .main-pane {
    width: 74%;             /* clear*/
}

.wrapper .side-pane {
    width: 24%;             /* clear*/
    margin-right: 1px;        /* clear */
}

@media screen and (max-width: 667px) {

    .wrapper .contents {
        margin-top: 15vw;      
    }

}

@media screen and (max-width: 760px) {
    .wrapper .side-pane {
        height: auto;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper .side-pane {
        height: auto;
        padding-bottom: 10px;
    }
}

/* Side Card*/

.side-container {
    width: 100%;
    text-align: center;
}

/* Shadows */

.card-side {
    width: 90%;
    margin-left: 9px;
}

.card-side {
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-side:before, .card-side:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.card-side:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.card-side:hover {
    cursor: pointer;
    background-color: #EAEAEA;
      box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.card-side img {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
    font-size: 11px;
    border-radius: 3px;
}

.card-side #card-img-side {
    min-height: 18vw;               /* clear*/
    border-bottom: 1px solid grey;
    background-color: #EFEFEF;
    border-radius: 4px;
}
.card-detail {
    padding: 2px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .card-detail {
        padding: 2px;
        font-size: 1.5vw;
    }   
}

@media screen and (max-width: 768px) {

    .card-detail {
        background-color: none;
    }

    .wrapper .pane {
        float: none;
        width: 100%;
        margin: 0;
        
    }
     @media screen and (max-width: 695px) { 
    .side-pane-text h3 {
        font-size: 3vw
    }
    }
    .card-side {
        overflow: hidden;
    }
    .card-side #card-img-side {
        min-height: 20vw;               /* clear*/
        border-right: 1px solid grey;
        background-color: #efefef;
        border-radius: 4px;
        float: left;
        width: 30%;
        border-bottom: none;
    }
    .card-side .card-detail {
        float: left;
        padding-left: 1vw;
        width: 70%;
        line-height: normal;
        text-align: justify;
        font-size: 1.8vw;
    }
    .card-side {
        width: 95%;
        margin-left: 2.6vw;
    }
    .card-side .card-detail h4 {
        margin-bottom: 0;
        float: left;
        margin-right: 4vw;
    }
    @media screen and (max-width: 475px) {
        .card-side .card-detail {
            font-size: 2.2vw;
        }
        .card-side .card-detail h4 > p {
            float: right;
            padding-left: 16vw;
        }
            .side-pane-text h3 {
        font-size: 4.2vw
    }
    }

}

/*
====================
    Main Pane Content
====================== */

.main-pane {
    display: flex;
      display: -webkit-box;
          display: -moz-box;
            display: -ms-flexbox;
                display: -webkit-flex;
    
    flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
    justify-content: space-around;
    overflow: scroll;
}

.main-pane .main-card {
    margin-top: 10px;
}

.maincard--card {
    padding: 30px;
  right: 0;  
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transition: all 0.4s ease;
  max-width: 550px;
  width:100%;
  height: 460px;
  position: relative;
  border-radius: 4px;
  font-size: 13px;
  color:#fff;
  background: url("../images/cr.jpg") center no-repeat;
  background-size: cover;
}

/* Clear backgrounds except for first test card */

.main-card.extra .maincard--card {
    background: url("/none");
}

.maincard--card a { 
color:#fff;
  text-decoration:none;
  -webkit-transition:all 0.5s ease;
}
.maincard--card .lower-color-flow {
  background: rgba(64, 84, 94,0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.maincard--card .lower-gradient {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.maincard--card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.maincard--card:hover .mmaincard-contents {
  opacity: 1;
  bottom: 100px;
}
.maincard--card:hover .lower-color-flow {
  background: rgba(64, 64, 70,0.8);
}
.maincard--card:hover .main-card-header{
  margin-top:70px;
}
.main-card-header {
  text-align: center;
  margin: 170px 0 0 0;
  padding: 0 8px;
  position: relative;
  font-size: 14px;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s ease;
}

.maincard--card:hover h3:after{
 
  animation: animate-case 0.3s 1 linear;
  width:80%;
}

.maincard--card h3, h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  display:inline-block;
}
.maincard--card h3 a {  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s ease;
  -webkit-transition: all .2s ease;
}
.maincard--card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s;
}

@keyframes animate-case {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.owner {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 10px;
}
.owner a{
  color: #ddd;
}
.owner a:hover{
  text-decoration:underline;
}
.mmaincard-contents {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 16px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.mmaincard-contents a{
  display:block;
  width:100px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 8px;
  border-radius:2px;
  font-size:0.7em;
}
.mmaincard-contents a:hover{
  background: #8e7c49;
  color:#fff;
}
.mmaincard-contents a:hover span{
   filter: brightness(10);
   opacity:1;
}
.card-icons {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width:100%;
  text-align:left;
}
.card-icons:after{
  content:" ";
  background-size: 30px auto;
  display:block;
  opacity: 0.4;
  position:absolute;
  bottom:25px;
  right:15px;
  width:30px;
  height:15px;
}
.card-icons a:hover{
  text-decoration:underline
}
.icons-list-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%;

}
.icons-list-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;
  
  font-size:0.8em;
}

.card-tags{
  position:relative;  
   width:3px;
   height:10px;
   display:inline-block;
   vertical-align:middle;
}
.card-tags:before{
    content:"";
   background-size:250px;
   width:26px;
   height:20px;
   display:inline-block;
   vertical-align:middle;
   position:absolute;
   top:-3px;
   left:0;
}
.icon-white{
   filter: brightness(10);
}
.icon-black{
   filter: brightness(0);
   opacity:0.6;
}
.icon-like:before{
  background-position: -183px -6px;

}
.icon-com:before{
  background-position: -63px -4px;

}
.icon-dat:before{
  background-position: -94px -7px;
}
.icon-tag:before{
  background-position: -33px -6px;

}

@media (max-width:750px)
{
  .card-icons {
    text-align:center;
  }
  .card-icons ul{
    width:100%;
    margin:0;
    box-sizing:border-box;
  }
  .card-icons li{
    width:49%;
    display:inline-block;
    box-sizing:border-box;
    margin:0;
  }
}

@media (max-width:500px){
      .card-icons li {
        padding: 0;
        margin-top: 0;
      }

    .maincard--card:hover .main-card-header,.main-card-header{
      margin-top:40px;
    }

    .maincard--card{
      height:350px;
    }

    .maincard--card h3{
      font-size:1.3em;
    }
    .owner{
      font-size:0.8em;
    }

    .maincard--card p{

    }
    .mmaincard-contents {
        font-size: 10px;
}
}


/*
=======================
 Footer
========================
 */

 footer {
    height: 90px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 99%;
    font-size: 12px;
    padding: 10px;
   font-family:'Open Sans', Lato, Helvetica, Arial, sans-serif;
    color: #F4F4F4;
    background-image: -webkit-linear-gradient(left, #434343 0%, black 100%);
    background-image: -o-linear-gradient(left, #434343 0%, black 100%);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
 }
 
 footer a {
    color: #fff;
 }

 @media screen and (max-width: 500px) {
    footer {
        width: 96%;
        margin-left: 1%;
    }
 }