/*
==========================
Overrride Inherited Content
============================ */

.container-user {
    overflow: hidden;
}

.container-admin.user {
    margin-right: 1vw;
    margin-left: 10vw;
}

.container-user .user-info, .container-user .container-admin.user {
    float: left;
}

.admin-card-card .acard-text p.edit a {
    display: none;
}
/*
===============
    Feed
=============== */

.user-info {
    margin-top: 2.5vw;
    color: #444;
    border: 1px solid #988;
    font-size: 12.5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px 8px 3px 0;
}
.user-info span {
    color: #111;
    padding: 2px;
    border: 1px solid #999;
    font-weight: bolder;
    border-radius: 3px 0; 
}

@media screen and (max-width: 960px) {
    .container-user .user-info, .container-user .container-admin.user {
        float: none;
    }

    .container-user {
        overflow: auto;
    }

    .user-info {
        width: 100%;
        margin-top: 0;
    }
}

.admin-card-card {
    max-width: 23em;
    height: auto;
}
.admin-card-card .acard-bottom {
    border-top: 1px solid #ADADAD;
    margin-top: 90px;
    padding: 0 8px;
    font-size: 11.5px;
    width: 100%;
    text-align: justify;
    line-height: normal;
    padding-bottom: 2px;
    border-radius: 0 0 14px 14px;

    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
}

.admin-card-card .acard-bottom h6 {
    text-align: left;
    margin: 0;
    margin-top: 2px;
}

.admin-card-card .acard-tags {
    overflow: hidden;
}

.admin-card-card .acard-tags p {
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 18px;
}

.admin-card-card .acard-bottom:hover {
    cursor: pointer;
    background-color: #DFDFDF
}

.admin-card-card .acard-tags p span {
    color: #111;
    padding: 2px;
    font-weight: bolder;
    border-radius: 3px 0; 
}