.container-user {
    overflow: hidden;
}

.container-admin.user {
    margin-right: 1vw;
    margin-left: 10vw;
    border: 1px solid black;
}

.container-user .user-info, .container-user .container-admin.user {
    float: left;
}

.user-info {
    margin-top: 1vw;
    color: #444;
    border: 1px solid #988;
    font-size: 12.5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px 8px 3px 0;
}
.user-info span {
    color: #111;
    padding: 2px;
    border: 1px solid #999;
    font-weight: bolder;
    border-radius: 3px 0; 
}

@media screen and (max-width: 960px) {
    .container-user .user-info, .container-user .container-admin.user {
        float: none;
    }

    .container-user {
        overflow: auto;
    }

    .user-info {
        width: 100%;
    }
}