.container-comments {
    width: 90%;
    margin: 3px 5%;
    padding: 10px;
}

.question-title {
    text-align: center;
    margin-bottom: 10px;
}

body {
    background-color: #fff;
    color: #656565;
}

.comments-show {
    text-align: justify;
}

.comment-comm {
    border: 1px solid #666;
    padding: 0 12px;
    border-radius: 3px;
    margin: 5px 2px;
    color: #444;
}

.comments-show p.c-time {
    float: right;
}

.comment-comm p {
    padding: 0;
    margin-bottom: 4px;
}
.comment-comm p.comment-time {
    margin-top: 0;
    font-size: .71em;
}

.add-comm {
    align-content: center;
    width: 60%;
    margin: 10px 20%;
    max-width: 500px;
    padding: 12px;
}

.add-comm textarea {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border: 1px solid #777;
    color: #000;
    padding: 12px;
    overflow: auto;
    font-size: 13px;
    text-align: left;
    resize: none;
    border-radius: 2px;

}

.submit-comment {
    border-radius: 4px;
    border: 1px solid #0DB102;
    background-color: #fff;
    background-color: #0DB102;
    margin-top: 2em;
    color: #fff;
    padding: 3.4px 6px;
    -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
            -ms-transition: all .6s ease;
                -o-transition: all .6s ease;
                    transition: all .6s ease;
}

.submit-comment:hover {
    background-color: #00A214;
    color: #fff;
    cursor: pointer;
}

.comm-input {
    text-align: left;
    margin-top: 3em;
}

.no-comments-rec {
    display: none;
    text-align: center;
    margin-top: 3.7em;
}

.setting {
    right: 2.6em;
    padding-top: 2px;
}

footer {
    position: absolute;
    margin-top: 2em;
    bottom: -10em;
}