@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*===================
    1. Override
===================== */

.container-admin {
 margin-top: 0;
 font-family: 'Open Sans', Lato, Helvetica, Arial, sans-serif;
  
}



/*=================
   2. Content
=================== */

.call-action-delete {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 500px) {
    .call-action-delete {
        font-size: 3.3vw;
    }
}

.delete-ups {
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 3px;

}

.delete-ups p {
   display: inline-block;
    padding: 10px 30px;
}

.delete-ups p:nth-child(3) {
    float: right;
}

.delete-ups .del-text-display {
    font-weight: bolder;
    color: #544;
}

.delete-ups p:nth-child(3) a {
    border: 1.2px solid #FF5733;
    border-radius: 4px;
    font-weight: 900;
    background-color: #D70000;
    color: #ff8C00;
    color: #fff;
    font-size: 12px;
    padding: 6px 13px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

.delete-ups p:nth-child(3) a:hover {
    background-color: #79D534;
    background-color: #F82B2B;
    border-color: #000;
    color: #fff;
}

.edit-meetup-item {
    color: #fff;
    background-color: #33A4FF;
    border: 1px solid #33A4FF;
    padding: 3px 8.6px;
    margin-left: 1em;
    font-size: 12px;
    border-radius: 3.6px;
    padding: 6px 15px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

.edit-meetup-item:hover {
    cursor: pointer;
    background-color: #1978B9;
    border-color: #333;
}

.descr--meet {
    float: none;
    border: 1px solid #fff;
    font-size: 11px;
    width: 98%;
    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 4px;
    margin-bottom: .1em;
    background-color: #EEF3F6;
}

@media screen and (max-width: 767px) {
    .delete-ups p {
        padding: 6px 13px;
    }
}

@media screen and (max-width: 507px) {
    .delete-ups p {
        font-size: 3vw;
    }
}

@media screen and (max-width: 428px) {
    .del-text-display, .edit-meetup-item, #del-button {
        float: none;
        width: 100%;
    }
    #del-button {
        padding: 3.3px 6px;
    }
     .edit-meetup-item {
        padding: 3.3px 9px;
     }
}

footer {
    margin-top: 5vw;
    margin-bottom: 0;
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
}

footer p {
    float: left;
    padding-top: 0;
    padding: 0 10px;
}

.footer-text {
    margin-top: 0;
    padding: 0;
}