
/*
===================
   1. Breadcrumb
===================== */

.user-profile .profile-admin {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 4px;
}

.user-profile {
    height: auto;
    width: 99%;
    margin: 0 1%;
    margin-left: 0;
}

.user-profile .profile-admin p {
    position: static;
    text-transform: none;
    font-weight: 900;
    font-size: 11.5px;
    float: left;
}

.meet-link {
    color: #fff !important;
    padding: 0 3px;
}


/*
=================
    2. Contents
================= */

.container-admin {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #999;
    border-radius: 4px 4px 0 0;
    margin-bottom: 60px;
}

@media screen and (max-width: 750px) {
    .container-admin {
        width: 92vw;
        margin-left: 3vw;
        margin-right: 3vw;
        padding: 10px;
    }
}

.admin-cards .qcard-text {
    margin-top: 8px;
    font-size: 13px;
    text-align: justify;
    padding: 4px 12px;
    border-bottom: 0.2px solid rgba(169, 171, 166, .999);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.admin-cards .question-card-card .qcard-text:hover {
    background-color: #D8D9D8;
    color: #333;

}

.admin-cards .question-card-card .qcard-text p {
    margin-bottom: 0;
}

.admin-cards .question-card-card .qcard-text p a {
    color: #222;
}

.admin-cards .question-card-card .qcard {
    width: 750px;
    background-color: #E7E7E7;
    border: 1.2px solid #A2A2A1;
    border-radius: 10px;
}

.admin-cards .question-card-card .qcard-text .after-p:after {
    content: ' see more';
    padding-left: 12px;
    font-size: 12px;
}

.admin-cards .question-card-card .qicons {
    padding: 4px;
    margin-bottom: 6px;
    padding-left: 16px;
    padding-top: 8px;
}

.admin-cards .question-card-card .qicons p {
    display: inline;
    font-size: 10px;
    padding: 2px;
    padding-top: 0;
}


.admin-cards .question-card-card .qicons .qtags {
    color: darkblue;
    background-color: #FDFDFD;
    border: 1px solid #444;
    border-radius: 3px;
    
}

.admin-cards .question-card-card .qicons p:nth-child(2) {
    margin-right: 5px;
}

.admin-cards .question-card-card .qicons .right-tag {
    float: right;
    margin-right: 10px;
    margin-top: 0;
    font-size: 10px;
}

.admin-cards .question-card-card .qicons p:not(.qtags) {
    font-size: 12px;
}

.admin-cards .question-card-card .qicons p:last-child {
    font-size: 10px;
}

.admin-cards .question-card-card .qicons p.vote {
    font-size: 18px;
    font-weight: bolder;
}

.admin-cards .question-card-card .qicons p.vote a span {
    color: #000;
    font-size: 25px;
    margin-top: 30px;
}

.admin-cards .question-card-card .qicons p.vote a span:hover:not(.number) {
    background-color: #fff;
    border-radius: 10px;
}

.admin-cards .question-card-card .qicons p.vote .number {
    font-size: 13px;
}

/*
=========================
    Card Appearance
========================== */

.question-card-card {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.question-card-card:before, .question-card-card:after {
    content:"";
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
                -moz-border-radius:100px / 10px;

    border-radius:100px / 10px;
}

.question-card-card:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

@media screen and (max-width: 500px) {
    .admin-cards .question-card-card .qicons .right-tag {
        float: none;
    }
}

@media screen and (max-width: 600px) {
    .admin-cards .question-card-card .qicons .right-tag {
        margin-left: 20px;
    }
}

.action-sign h4 {
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    padding: 0;
}

.action-sign {
    width: 60%;
    margin: 0 15%;
}

@media screen and (max-width: 500px) {
    .action-sign h4 {
        font-size: 4vw;
    }

    .action-sign {
        width: 100%;
        margin: 0;
    }
}

footer {
    position: relative;
}

/*
========================
New Question
======================== */

#input-question, .createq-holder {
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 97%;
}

#input-question {
    margin-top: 2em;
}

#text-question {
    width: 100%;
    height: 18vw;
    padding: 12px;
    border: 1px solid #999;
    overflow: auto;
    resize: none;
    font-family: 'Open Sans';
    background-color: #fff;
}
.createq-holder {
    border: 1px solid #222;
    background-color: #0DB102;
    text-align: center;
    border: 1.2px solid #34D55B;
    border-radius: 4px;
    background-color: #fff;
    background-color: #0DB102;
    color: #ff8C00;
    color: #fff;
    margin-bottom: 1.6em;
    padding: 4px 12px;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                    transition: all .7s ease;
}

.createq-holder:hover {
    background-color: #79D534;
    background-color: #10C803;
    color: #fff;
    cursor: pointer;
    border-color: #333;
}

#create-question-button {
    color: #fff;
}

#meetup-images {
    text-align: center;
    width: 98%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 14em;
    border: 1px solid #999;
    border-radius: 5px 5px 0 0;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE 11 */
}

#update-image {
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #E0E1E2;
    padding: 4px;
    border-radius: 0 0 5px 5px;
    color: #777;
    -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                    transition: all .4s ease;
    position: relative;
}

#update-image:hover {
    background-color: #D3D3D3;
}

#meetup-images::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#meetup-images img {
    height: 13em;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    display: inline-block;
}

#no-images {
    font-size: 13.6px;
    display: none;
}

#mtags {
    width: 100%;
}

.mmtags {
    color: darkblue;
    display: inline-block;
    background-color: #FDFDFD;
    border: 1px solid #444;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 8px;
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

#new-tag, #tag-text {
    display: block;
}
.mmtags:hover {
    cursor: pointer;
}

#meetup-dtails {
 margin-right: 1.5%;
    margin-left: 1.5%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14.5px;
    color: #555;
}

#new-tag {
    border: 1px solid #444;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    padding: 0 8px;
    background-color: #0B82C9;
    -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                    transition: all .4s ease;
}

#new-tag:hover {
    cursor: pointer;
    background-color: #0B6DA8;
}
.edit-t {
    float: right;
}

#new-tag, #tag-text {
   display: inline-block;
}

#tag-text {
    
}

#tag-input {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    width: 87px;
}

#new-tag:hover #tag-text {
    display: block;
}

.rsvp-option {
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.rsvp-option > p {
    float: left;
    margin: 0 5px;
}

.rsvp-option .current-rs {
    margin-left: 9.6em;
    font-weight: 900;
}

#current-rsvp {
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 900;
}

.rsvp-option p:first-child {
    font-weight: 900;
    color: #155;
}

#select-rs {
    background-color: #E2F4FF;
    border: 1px solid #00A0FF;
    border-radius: 2px;
}

#submit-rsvp {
    background-color: #D4EAF7;
    border: 1px solid #4798C8;
    padding: 3px 10px;
    border-radius: 4px;
    -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                    transition: all .4s ease;
}

#submit-rsvp:hover {
    background-color: #B0DEF9;
    border-color: #0E5D8B;
    cursor: pointer;
}

input[type=file] {
    width: 100%;
    position: absolute;
    left:0;
    opacity: 0;
    background-color: #D3D3D3;

}

input[type=file]:hover {
    cursor: pointer;
}

#imgs {
    margin: 0;
    padding: 0;
    background-color: initial;
}

@media screen and (max-width: 494px) {
    .edit-t {
        margin-top: .5em;
        width: 100%;
        display: inline-block;
        float: none;
    }
    #new-tag, #tag-text {
       float: right;
       margin: 0 3px;
    }
}

.mmtags {
    display: none;
    margin: 2px;
}