#action-mod {
    text-align: center;
    color: #222;
    width: 100%;
    font-weight: 900;
    margin: 1.3em 0;
}

#container-sign-in-mod  {
    border-radius: 15px 5px 20px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 450px;
    height: auto;
    padding: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    left: -55%;
    top: -60%;
    z-index: 434451;
}

.wrapper-sign-in-mod {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 40%;
    top: 60%;
    box-sizing: border-box;
    justify-content: center;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
    z-index: 90901;
    -webkit-transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
      transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
       -moz-transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
            -ms-transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
                -o-transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
}


input#email-mod {
    margin: 10px;
    margin-top: 12px;
    padding: 0;
    margin-left: 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #23CA00;
    border-radius: 4px;
    color: black;

}

.sign-button {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    background: #fff;
    padding: 6px 13px;
    background-color: #1CA100;
    border: 1px solid #23CA00;
    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sign-button:before, .sign-button:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:90px/9.5px;
        border-radius:90px/9.5px;
}


.sign-button:hover {
    background-color: #168000;
    cursor: pointer;
    border-color: #148000;

}

input.sign-button {
    width: 100%;
    margin-left: 0;
}

#close-mod {
    margin: 0;
    padding: 0;
    float: right;
}

#mod--close-button {
    font-weight: 900;
    font-size: 15px;
}

#mod--close-button:hover {
    cursor: pointer;
}