/*
==========================
Overrride Inherited Content
============================ */

.container-user {
    overflow: hidden;
}

.container-admin.user {
    margin-right: 1vw;
    margin-left: 8vw;
    padding: 12px 4px;
}

.container-user .user-info, .container-user .container-admin.user {
    float: left;
}

.admin-card-card .acard-text p.edit a {
    display: none;
}

/*
===============
    Feed
=============== */

.user-info {
    margin-top: 2.5vw;
    color: #444;
    border: 1px solid #988;
    font-size: 12.5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px 8px 3px 0;
}
.user-info span {
    color: #111;
    padding: 2px;
    border: 1px solid #999;
    font-weight: bolder;
    border-radius: 3px 0; 
}

@media screen and (max-width: 960px) {
    .container-user .user-info, .container-user .container-admin.user {
        float: none;
    }

    .container-user {
        overflow: auto;
    }
    
    .container-user .user-info {
        width: 96%;
        margin: 0 2%;
    }
    .user-info {
        margin-top: 0;
    }
}

.admin-card-card {
    max-width: 27.8em;
    height: auto;
}
.admin-card-card .acard-bottom {
    border-top: 1px solid #ADADAD;
    padding: 0 8px;
    font-size: 11.5px;
    width: 100%;
    text-align: justify;
    line-height: normal;
    padding-bottom: 2px;
    border-radius: 0 0 14px 14px;

    -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                   transition: all .7s ease;
}

.admin-card-card .acard-bottom-cont {
    opacity: 0;
    display: none;

}

.admin-card-card:before, .admin-card-card:after {
  position:absolute;
  content:"";
  box-shadow:0 8px 27.8px 20px #A8A8A8;
  top:52px;
  left:13.6px;
  bottom:14px;
  width:15%;
  z-index:-1;
  transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
}

.admin-card-card:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 13.7px;
  left: auto;
}

.admin-card-card .acard-center {
    width: 100%;
    min-height: 153px;
    text-align: center;
}

.admin-card-card:hover .acard-bottom-cont {
    display:  block;
    opacity: 1;
    -webkit-animation: display-transition .7s ease-in-out;
      animation: display-transition .7s ease-in-out;
        -o-animation: display-transition .7s ease-in-out;
            -ms-animation: display-transition .7s ease-in-out;
}

@-webkit-keyframes display-transition {
  0% {
    opacity: 0;
  }
}
@keyframes display-transition {
  0% {
    opacity: 0;
  }
}

.separator {
    color: red;
    width: 100%;
    margin: 0px 0;
    background-color: #f0f0f0;
}

.admin-card-card .acard-bottom h6 {
    text-align: left;
    margin: 0;
    margin-top: 2px;
}

.admin-card-card .acard-tags {
    overflow: hidden;
}

.admin-card-card .acard-tags p {
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 18px;
}

.admin-card-card .acard-bottom:hover {
    cursor: pointer;
    background-color: #DFDFDF
}

.admin-card-card .acard-tags p span {
    color: #111;
    padding: 2px;
    font-weight: bolder;
    border-radius: 3px 0; 
}